*{
box-sizing:border-box;
padding:0;
margin:0;
user-select:none;
}

body{
    font-family: Arial;
}
 
/* Header */

.product:hover{

transform:scale(1.03);

transition:.2s;

}
 
.header-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}
.navbar>div{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    color:#0084ff;
   
}
.logo>span{
    color: #fff;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 10px;
    
 }
 .nav-icon{
    display: flex;
    align-items: center;
    
 }
.nav-icon img{
    width: 30px;
    cursor: pointer;
 }

.nav-icon img:first-child{
    margin-right: 1rem;
 }

nav ul li{
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight:bold;
    font-size: 14px;
}
.menu-botton{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

header{
    background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-bottom-left{
    height: 100%;
    flex-basis:50%;
    margin-bottom:12px;
    margin-left:13px;

}

.header-bottom-left>h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;

}
.header-bottom-left > p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.header-bottom-left>button{
    background-color: #0084ff;
    cursor: pointer;
    border:none;
    padding: 0.8rem 3.8rem;
    border-radius:9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}
.header-bottom-left>button:hover{
    background-color:#004c94;
    text-transform: uppercase; 

}

.header-bottom-right{

flex-basis:50%;

display:flex;

align-items:center;

justify-content:center;

}
.header-bottom-right>img{
    width:115%;
}
.game{
    width:100%;
    margin-left: 16px;
    
}

.menu-botton{
        display:none;
    }

/* Media Queries */
@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }
    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    nav{
        position:absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }
    
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align:center;
        padding: 0.8rem;

    }
    .menu-botton{
    display: block;
   }

} 
 /* Header */

 /* Main Content */
 main{
    background-color:#ebebeb;
 }

.gray-background{
    background-color:#2c2c2c;
}
.page-inner-content{
    max-width: 1300px;
    margin: 0 auto;
}
.cols{
    display: grid;
    justify-content:space-evenly;
    padding: 4rem 1rem;
}
.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /*display: flex;
    flex-wrap: wrap;*/
}
.cols-3 img{
    max-width:100%;
    margin-left: auto;
}

.cols-4{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.cols-4 img{
    max-width:100%;
}
.cols>*{
    cursor: pointer;
}
.cols>*:hover{
     transition: all 0.2s;
     transform: translateY(-5px);
}
.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline{

width:100px;
height:5px;
background:#0084ff;

border-radius:9999px;

margin:8px auto 0 auto;

}

.product{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{

font-weight:600;

margin-top:1.3em;

}

.rate{
    color:#004c94;
    font-size: 1.3rem;
}

.product-price span{
    font-weight:bold;
}
.exclusive-container{
    color:#fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}
.exclusive-container img{
    max-width: 500px;

}
 /* Media queries */
 @media (max-width:800px){
    .section-title{
        font-size: 1rem;
    }
    .cols-3{
        grid-template-columns: repeat(1,1fr);
    }
     
    .cols-4{
        grid-template-columns: repeat(2,1fr);
    }
.product-name, .product-price, .rate{
    max-height: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
}
.exclusive-container{
    flex-direction: column-reverse;
}
.exclusive-container img{
    margin-bottom: 4rem;
}
 }
 /* Main Content */

 /* testemunahs*/
.testimonials{
    display: flex;
    padding: 4rem 1rem ;
    justify-content:space-evenly;
 }
.testimonial{
    display:flex;
    flex-direction:column;
    align-items: center; 
    justify-content:center;
    flex-basis:30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}
.testimonial:hover{
    transform:translateY(-5px);
}

.testimonial p:first-child{
    margin:5px 0;
}
.testimonial p:first-child{
    font-weight: bold;
    font-size:  5rem;
    color: #0084ff;
    margin-top:3rem;
    line-height:2rem;
}
.testimonial p:last-child{
    font-weight: bold;
}

@media (max-width:800px){
    .testimonials{
        flex-direction: column;
    }
    .testimonial{
        margin-bottom: 1.2rem; 
    }

}

 /* testemunahas*/

 
 /* Footer*/
 .footer-content{
    display: flex;
    align-items: center;
    color:#afafaf;
    padding: 4rem 1rem;
    gap: 2rem;
 }
 .download-options>*{
    margin:1rem 0;
 }
 .download-options>p:first-child{
    font-weight: bold;
    color: #fff;
 }
.download-options>div{
    display: flex;
 }
.download-options>img{
    width: 100px;
 }
.logo-footer{
    text-align: center;
 }
.logo-footer p{
    flex-direction:column;
 }
.links-footer ul{
    list-style: none;
}
.links-footer h3{
    color: #fff;
    margin-bottom: 0.8rem;
}
.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.Copyght{
    color: #fff;
    padding: 2rem 0;
    text-align: center;

}
 /* Midia Query*/
 @media (max-width:800px){
    .footer-content>div{
        display: inline;
        font-size: 0.8rem;
    }
    .footer-content{
        display:1rem;

    }
    .download-options>div{
        display: inline;
    }

    .download-options>div img{
        width:120px;
    }
    .Copyght{
        font-size: 0.8rem;
    }


 }

 /* Footer*/